.deck-card__description {
  margin: 0.25rem 0 0;
  color: #9CA3AF;
  font-size: 0.875rem;
  line-height: 1.2rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
